<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Simpl Bootcamp</title>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/black.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/monokai.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
  <style>
    .red {
      color: #a90533;
    }

    .blue {
      color: #004785;
    }

    .green {
      color: #36c945;
    }

    p.example {
      padding: 15px;
      background: #aaa;
      text-decoration: italic;
      color: black;
    }

    p.small {
      font-size: 1.5rem;
    }

    span.code {
      font-family: monospace;
      color: #aaa;
      padding: 5px;
    }

    a.file {
      font-family: monospace;
      font-size: 1.5rem;
    }
  </style>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section data-background="#004785">
        <h1>Simpl Bootcamp</h1>
        <h3>Developing Simpl Applications</h3>
        <img src="images/simpl_logo.png" style="border: none; background: none;" />
        <p>
          <a href="https://simplworld.github.io/simpl-bootcamp/">https://simplworld.github.io/simpl-bootcamp/</a>
        </p>
      </section>
      <section data-background=" #004785">
        <h1>Tech Setup</h1>
        <ul>
          <li class="fragment">Docker</li>
          <li class="fragment">Code Editor</li>
          <li class="fragment">Git</li>
          <li class="fragment">simpl-games-api service</li>
        </ul>
      </section>
      <section data-background="#004785">
        <h1>Docker</h1>
        <h3>What is it and why is it useful</h3>
      </section>
      <section data-background="#004785">
        <h2>Verifying Your Docker Setup</h2>
        <h4>Run this locally in a termainl</h4>
        <pre><code class="hljs">
    docker run -p "80:80" frankwiles/hello-docker:latest
        </code></pre>
        <p>And then browse to <a href="http://localhost/">http://localhost/</a></p>
      </section>
      <section data-background="#004785">
        <h3>You should see this</h3>
        <img src="images/hello-docker.png" />
      </section>
      <section data-background="#004785">
        <h1>Code Editor</h1>
        <h3>You're going to need one</h3>
        <ul>
          <li>VS Code</li>
          <li>Sublime Text 2</li>
          <li>vi / emacs / etc</li>
        </ul>
      </section>
      <section data-background="#004785">
        <h1>Git</h1>
      </section>
      <section data-background="#004785">
        <h3>Git Resources</h3>
        <ul>
          <li>Cheatsheet - <a
              href="https://education.github.com/git-cheat-sheet-education.pdf">https://education.github.com/git-cheat-sheet-education.pdf</a>
          </li>
          <li>Github Desktop Client (<em>optional</em>) - <a
              href="https://desktop.github.com">https://desktop.github.com</a></li>
        </ul>
      </section>
      <section data-background="#a90533">
        <h1>High Level Overview</h1>
      </section>
      <section data-background="#a90533">
        <h2>Main Communication Steps</h2>
        <ol>
          <li>User's browser loads game from UI service</li>
          <li>User logins via UI service which checks the authentication against the user info in API</li>
          <li>Once authenticated, User's browser makes websocket connection to Model service</li>
          <li>Browser loads all needed game data over websocket</li>
          <li>From here on all communication is over websocket to Model service</li>
        </ol>
      </section>

      <section>
        <img src="images/Connectivity.png" />
      </section>

      <section data-background="#004785">
        <h3>WAMP</h3>
        <ul>
          <li>Web</li>
          <li>Application</li>
          <li>Message</li>
          <li>Protocol</li>
        </ul>
        <p>
          <a href="https://wamp-proto.org">https://wamp-proto.org</a>
        </p>
      </section>

      <section data-background="#004785">
        <h3>WAMP</h3>
        <p>WAMP defines a lightweight protocol for doing RPC and pubsub over websockets</p>
      </section>

      <section data-background="#004785">
        <h3>WAMP Router</h3>
        <p>When using WAMP you need a WAMP router. Simpl uses crossbar for this.</p>
        <p>
          A WAMP router is responsible for terminating the websocket connections,
          authentication, authorization, and routing messages and calls
        </p>
      </section>
      <section data-background="#004785">
        <h3>Simpl &amp; WAMP</h3>
        <p>What we call a <em>model</em> or <em>modelservice</em> in Simpl is both
          a crossbar WAMP router and a asyncio Python process which registers itself
          with the router to answer WAMP calls from the UI.</p>
      </section>
      <!-- setup-simpl-games-api -->
      <section data-background="#004785">
        <h2>Setup simpl-games-api</h2>
        <p>This API is the data storage for Simpl</p>
        <ul>
          <li>Users</li>
          <li>Games</li>
          <li>Relationship of User to Worlds and Runs</li>
          <li>Decisions and Results</li>
          <li>Multiple Simpl games can share the same API service</li>
        </ul>
      </section>

      <section data-background="#004785">
        <h3>Clone Repo and Get Started</h3>
        <pre><code class="hljs">
$ git clone https://github.com/simplworld/simpl-games-api.git
        </code></pre>
        <pre style="font-size: 32px"><code class="hljs">
$ cd simpl-games-api
$ git checkout -b simpl-bootcamp origin/simpl-bootcamp
$ docker-compose up
          </code></pre>
        <p class="small">
          NOTE: Do not rename the checkout, it must be named
          <span class="code">simpl-games-api</span>
        </p>
      </section>

      <section data-background="#004785">
        <h2>Check the setup</h2>
        <h4>Browse to <a href="http://localhost:8100/">http://localhost:8100/</a></h4>
      </section>

      <section data-background="#004785">
        <h3>You should see a page like</h3>
        <img src="images/simpl-api-1.png" />
      </section>

      <section data-background="#004785">
        <h2>Create Superuser</h2>
        <pre><code class="hljs">
  (your terminal)$ docker-compose run --rm api bash
  (container termainl)$ python3 manage.py createsuperuser
          </code></pre>
        <p>This creates a temporary container off our image and gives you a Linux shell in it.
          Enter email address and password when prompted.</p>
        <p>This user is your admin account to the Simpl Games API</p>
      </section>

      <section data-background="#004785">
        <h2>Login to API Admin</h2>
        <h3>Browse to <a href="http://localhost:8100/admin/">http://localhost:8100/admin/</a></h3>
      </section>

      <section data-background="#004785">
        <h2>Django Admin</h2>
        <img src="images/django-admin-login.png" />
        <p>Login with the email and password you used to create your superuser</p>
      </section>

      <section data-background="#004785">
        <h2>Setup Our Game</h2>
        <ol>
          <li>Create a Game named <span class="code">Blackjack</span> with slug <span class="code">blackjack</span></li>
          <li>Create a Run for Blackjack named <span class="code">default</span></li>
          <li>Create a Phase named <span class="code">Play</span> for Run we just created</li>
        </ol>
      </section>

      <section data-background="#a90533">
        <h1>Blackjack User Interface</h1>
      </section>

      <section data-background="#004785">
        <h1>ReactJS</h1>
        <h3><a href="https://reactjs.org">https://reactjs.org</a></h3>
        <p>Released as Open Source by Facebook in 2013</p>
      </section>

      <!-- React -->
      <section data-background="#004785">
        <h1>React</h1>
        <ul>
          <li>Declarative UI</li>
          <li>Reusable Components</li>
          <li>One way data flow</li>
          <li>Modern Javascript (ES6+)</li>
        </ul>
      </section>

      <section data-background="#36c945" data-transition="fade-in">
        <h1>Old School vs New React</h1>
      </section>

      <section>
        <h4>Old School Example</h4>
        <pre><code class="hljs" style="font-size: 26px">
    <button id="alert">Show Alert!</button>

    <script>
      var button = document.getElementById("alert");

      button.addEventListener("click", function () {
        alert("It works!");
      });
    </script>
				</code></pre>
      </section>

      <section>
        <h3>React JSX Example</h3>
        <p class="example">code_examples/react1.js</p>
      </section>

      <section data-background="#36c945" data-transition="fade-in">
        <h1>WAIT A SECOND!!!</h1>
        <p>Didn't PHP and the like teach us that mixing code and presentation is a bad idea?</p>
      </section>

      <section data-background="#a90533">
        <h2>JSX - Somehow it works!</h2>
        <ul>
          <li>Presentation elements are defined along with data/actions</li>
          <li>Data/actions passed down component heirarchy</li>
          <li>Small reusable components that build up to a larger whole</li>
        </ul>
      </section>

      <section data-background="#36c945" data-transition="fade-in">
        <h2>Quick Primer on Old JavaScript (ES5) to New Javascript (ES6/ES7+)</h2>
      </section>

      <section>
        <h4>Old Javascript</h4>
        <pre><code class="hljs">
          function add(x, y) {
            return x + y;
          }
        </code></pre>
        <h4>New Javascript - Arrow Functions</h4>
        <pre><code class="hljs">
          const add = (x, y) => {
            return x + y;
          }
        </code></pre>
      </section>

      <section>
        <h4>Old Javascript</h4>
        <pre><code class="hljs">
          var MyObject = {foo: 1, bar: 2};
          var foo = MyObject.foo;
          var bar = MyObject.bar;
        </code></pre>
        <h4>New Javascript</h4>
        <pre><code class="hljs javascript">
          let MyObject = {foo: 1, bar: 2};
          let { foo, bar } = MyObject;
        </code></pre>
        <p>
          'let' creates a block scoped variable.
        </p>
      </section>

      <section>
        <h4>Old Javascript</h4>
        <pre><code class="hljs">
          var someModule = require(./SomeModule);
        </code></pre>
        <h4>New Javascript</h4>
        <pre><code class="hljs">
          import someModule from './someModule';
        </code></pre>
      </section>

      <section>
        <h4>Old Javascript</h4>
        <pre><code class="hljs">
  const first = "Frank";
  const last = "Wiles

  const myName = "FullName: " + a + " " + b;
        </code></pre>
        <h4>New Javascript</h4>
        <pre><code class="hljs">
  const myText = `FullName: ${a} ${b}`;
        </code></pre>
      </section>

      <section data-background="#004785">
        <h1>Webpack and Babel</h1>
      </section>

      <section data-background="#004785">
        <h1>Babel</h1>
        <ul>
          <li>Babel transpiles ES6/ES7 to ES5 for the browser to understand</li>
          <li>Compiles JSX to Javascript</li>
        </ul>
      </section>

      <section data-background="#004785">
        <h1>Webpack</h1>
        <ul>
          <li>Javascript bundler</li>
          <li>Watches for what and when to run Babel</li>
          <li>How/Where to compile CSS</li>
          <li>Process images</li>
          <li>Move files around</li>
          <li>etc</li>
        </ul>
      </section>

      <section data-background="#36c945" data-transition="fade-in">
        <h2>Component Heirarchy</h2>
        <h3>Keeps Things Sane</h3>
      </section>

      <section>
        <img src="images/React_Example.png" />
      </section>

      <section>
        <h3>React App Example</h3>
        <p class="example">code_examples/react2.js</p>
      </section>

      <section data-background="#004785">
        <h1>Redux</h1>
        <p>One way data flow pattern used by React</p>
        <p><a href="https://redux.js.org">https://redux.js.org</a></p>
      </section>

      <section data-background="#004785">
        <h1>Redux Explained</h1>
        <ul>
          <li>One global <em>store</em> per app</li>
          <li>Actions indicate what happened and any associated data</li>
          <li>Reducers, usually broken up by type of data, included app or feature look for actions and make
            changes to the store</li>
        </ul>
      </section>

      <section>
        <h4>Store Example</h4>
        <pre><code class="hljs json">
{
  items: ["coffee", "tea", "espresso"],
  user: {
    email: null,
    loggedIn: false
  }
}
				</code></pre>
      </section>

      <section>
        <h4>Action Examples</h4>
        <pre><code class="hljs json">
{ type: "ADD_ITEM", data: "danish" }
{ type: "SET_USER", email: "frank@revsys.com" }
{ type: "LOGIN_USER", sessionId: "lfyBnPmRzbUQims" }
				</code></pre>
      </section>

      <section>
        <h4>Reducer Example - Items</h4>
        <pre><code class="hljs javascript">
function items(state = [], action) {
  switch (action.type) {
    case 'ADD_ITEM':
       return [...state, action.data]
    default:
      return state
  }
}
				</code></pre>
      </section>

      <section>
        <h4>Reducer Example - User</h4>
        <pre><code class="hljs javascript">
function user(state = {email: null, loggedIn: false}, action) {
  switch (action.type) {
    case 'SET_USER':
       return {...state, email: action.email}
    case 'LOGIN_USER':
       return {...state, loggedIn: true}
    default:
      return state
  }
}
				</code></pre>
      </section>

      <section data-background="#004785">
        <h3>Setup simpl-blackjack-ui</h3>
        <pre><code class="hljs">
git clone https://github.com/simplworld/simpl-blackjack-ui.git
        </code></pre>
        <pre style="font-size: 32px"><code class="hljs">
$ cd simpl-blackjack-ui
$ docker-compose up
          </code></pre>
        <p class="small">
          NOTE: Do not rename the checkout, it must be named
          <span class="code">simpl-games-ui</span>
        </p>
      </section>

      <section data-background="#004785">
        <h3>UI Configuration</h3>
        <pre><code class="hljs yaml">
environment:
  - DJANGO_SETTINGS_MODULE=blackjack_ui.settings
  - MODEL_SERVICE_WS=ws://localhost:8080/ws
  - SIMPL_GAMES_URL=http://api:8000/apis/
  </code></pre>
        <a href="https://github.com/simplworld/simpl-blackjack-ui/blob/master/docker-compose.yml"
          class="file">docker-compose.yaml</a>
      </section>

      <section data-background="#004785">
        <h1>Dive into React App</h1>
      </section>

      <section>
        <h3>Django Routing</h3>
        <pre><code class="hljs python">urlpatterns = [
      url(r"^api/", include(("users.urls", "users_api"))),
      url(r"^admin/", admin.site.urls),
      re_path(
          r"^static/(?P<path>.*)$",
          serve,
          kwargs={
            "document_root": settings.STATIC_ROOT,
            "show_indexes": True
          },
      ),
      url(r"^.*$", TemplateView.as_view(
        template_name="core/index.html"
      )),
]
        </code></pre>
        <a href="https://github.com/simplworld/simpl-blackjack-ui/blob/master/blackjack_ui/urls.py"
          class="file">blackjack_ui/urls.py</a>
      </section>

      <section>
        <h3>Django Routing</h3>
        <pre><code class="hljs python" data-line-numbers="12-14">urlpatterns = [
      url(r"^api/", include(("users.urls", "users_api"))),
      url(r"^admin/", admin.site.urls),
      re_path(
          r"^static/(?P<path>.*)$",
          serve,
          kwargs={
            "document_root": settings.STATIC_ROOT,
            "show_indexes": True
          },
      ),
      url(r"^.*$", TemplateView.as_view(
        template_name="core/index.html"
      )),
]
        </code></pre>
        <p class="small">Django's routing loads this template for any path not defined above</p>
      </section>

      <section>
        <h3>Index Template</h3>
        <pre><code class="hljs html">
{% load render_bundle from webpack_loader %}
&lt;html&gt;
&lt;head&gt;
  <title>Wharton Blackjack</title>
  {% render_bundle 'main' 'css' %}
&lt;/head&gt;

&lt;body&gt;
  <div id="app"></div>
  {% render_bundle 'main' 'js' %}
&lt;/body&gt;
&lt;/html&gt;
        </code></pre>
        <a href="https://github.com/simplworld/simpl-blackjack-ui/blob/master/core/templates/frontend/home.html"
          class="file">core/templates/frontend/home.html</a>
        <p class="small">
          <span class="code">django-webpack-loader</span> knows what these
          bundles are and what URL to load them from.
        </p>
      </section>

      <section>
        <h3>Note the div</h3>
        <pre><code class="hljs html" data-line-numbers="10">
{% load render_bundle from webpack_loader %}
&lt;html&gt;
&lt;head&gt;
  <title>Wharton Blackjack</title>
  {% render_bundle 'main' 'css' %}
&lt;/head&gt;

&lt;body&gt;
  <div id="app"></div>
  {% render_bundle 'main' 'js' %}
&lt;/body&gt;
&lt;/html&gt;
        </code></pre>
        <a href="https://github.com/simplworld/simpl-blackjack-ui/blob/master/core/templates/frontend/home.html"
          class="file">core/templates/frontend/home.html</a>
      </section>

      <section>
        <h3>React entrace point</h3>
        <pre><code class="hljs javascript">
  import React from 'react';
  import ReactDOM from 'react-dom';
  import { Provider } from 'react-redux';
  import store from './store/store';
  import App from './app';
  import '../scss/main.scss';

  ReactDOM.render(
    <Provider store={store}>
      <App />
    </Provider>,
    document.getElementById('app')
  );
        </code></pre>
        <a class="file"
          href="https://github.com/simplworld/simpl-blackjack-ui/blob/master/frontend/js/index.js">frontend/js/index.js</a>
      </section>

      <section data-background="#004785">
        <h3>Setup simpl-blackjack-model</h3>
        <pre><code class="hljs">
git clone https://github.com/simplworld/simpl-blackjack-model.git
        </code></pre>
        <pre style="font-size: 32px"><code class="hljs">
$ cd simpl-blackjack-model
$ docker-compose up
          </code></pre>
        <p class="small">
          NOTE: Do not rename the checkout, it must be named
          <span class="code">simpl-games-model</span>
        </p>
      </section>

      <section data-background="#004785">
        <h3>Model Configuration</h3>
        <pre><code class="hljs yaml">
  environment:
  - DJANGO_SETTINGS_MODULE=blackjack_model.settings
  - SIMPL_GAMES_URL=http://api:8000/apis/
  - CALLBACK_URL=http://model.backend:8080/callback
  </code></pre>
        <a href="https://github.com/simplworld/simpl-blackjack-model/blob/master/docker-compose.yml"
          class="file">docker-compose.yaml</a>
      </section>

      <section data-background="#004785">

        <h1>Connect UI to Model</h1>
      </section>
    </div>
  </div>

  <script src="js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      hash: true,
      dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true }
      ]
    });
  </script>
</body>

</html>